html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                                     reset thingy^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/



@font-face {
    font-family: 'oswald-stencil';
    src: url("assets/fonts/oswald-stencil-webfont.woff") format("opentype");
}
@font-face {
    font-family: 'oswald-regitalic';
    src: url("assets/fonts/oswald-regularitalic-webfont.woff") format("opentype");
    
}
@font-face {
    font-family: 'oswald-reg';
    src: url("assets/fonts/oswald-regular-webfont.woff") format("opentype");
    
}
@font-face {
    font-family: 'oswald-light';
    src: url("assets/fonts/oswald-light-webfont.woff") format("opentype");
    
}
 .container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: #040508;

}
.banner {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
    background: url(assets/images/banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 30rem;
   padding-bottom: 0;
    
}
.logo img {
    border-radius: 50%;
    width: 17em;
    border: 1.5px solid #e1e4e8;
   
}
.logo {
    padding: 3rem;
    padding-bottom: 2rem; 
}
.text {
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
}
.text h1 {
    font-family: "oswald-stencil";

    font-size: 4em;
    letter-spacing: 2px;
    margin: 1.5rem;
    width: fit-content;
    color: #e1e4e8;
    text-shadow: #112534 3px 5px 2px;
    
}
.text h3 {
    font-family: "oswald-regitalic";
    color: #3b4647;
    font-size: 2em;
    letter-spacing: 2px;
    margin: 1.5rem;
    margin-top: 3rem;
    width: fit-content;
    color: #979a9f;
    text-shadow: rgb(18, 28, 36) 3px 5px 2px;
    
}

.content {
    background-color: #040508;
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
    
}

.social-bubbles {
    background-color: #000000;
    width: fit-content;
    box-shadow: #171b2c 4px 0px 10px;
    margin: auto;
    border-radius: 25px;
    border: 1px solid #2f3237;
}
.cards {
    display: flex;
    background-color: #10121e;
    padding: 0.5rem;
    border-radius: 25px;
}
.cards button {
    display: flex;
    background-color: #080910;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    width: 12rem;
    height: 3rem;
    align-items: center;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
.cards button:hover {
    background-color: #2e303f;
    transition: 0.5s;
}
.cards button:active {
    background-color: #898ca4;
    transition: 0.3s;
}
button h1 {
    color: #979a9f;
    font-family: 'oswald-reg';
    font-size: 1.4em;
    margin-left: 0.5rem;
    margin-top: 0.3rem;

}









     @media (max-width: 900px) {
    .container {
        width: 100%;
        margin: 0;
        
    }
    .banner {
       flex-wrap: wrap;
       flex-direction: row;
        padding: 0;
       width: 100%;
       height: fit-content;
       justify-content: center;
       
    }
    .logo {
        width: fit-content;
        justify-self: center;
        margin-left: 1rem;
    }
    .logo img {
        width: 15em;
    }
    .text h1 {
        font-size: 3rem;
    }
    .text h3 {
        font-size: min(1.5rem);

    }
    }
  @media (max-width: 700px) {
    .container {
        width: 100%;
        width: fit-content;
        
        
    }
    .banner {
       flex-direction: row;
        padding: 0;
       width: 100%;
       height: fit-content;
       justify-content: center;
       height: 70vh;

       
    }
    .logo {
        width: fit-content;
        margin-top: 1rem;
        padding: 0;
    }
    .logo img {
        width: 13em;
        
    }
    .text h1 {
        font-size: 3rem;
    }
    .text h3 {
        display: block;
        
        font-size: min(1.5rem);
        

    
    }
    .social-bubbles {
        margin-top: 1rem;
    }
    .cards {
        flex-direction: column;
        
    }
    .cards button {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    
 } 