html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                                     reset thingy^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


body {
    background-color: #15151b;
}
@font-face {
    font-family: 'oswald-stencil';
    src: url("assets/fonts/oswald-stencil-webfont.woff") format("opentype");
}
@font-face {
    font-family: 'oswald-regitalic';
    src: url("assets/fonts/oswald-regularitalic-webfont.woff") format("opentype");
    
}
 .container {

    width: 90rem;
    max-width: 100%;
    background-color: #93B1A6;
    margin: auto;

}
.banner {
    display: flex;
    align-items: flex-end;
    padding: 3rem;
    padding-bottom: 1rem;
    background: url(assets/images/banner.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 30rem;
    
}
.logo img {
    border-radius: 50%;
    width: 17em;
    margin-bottom: 2rem; 
   
}
.logo {
    margin-right: 3rem;
}
.text {
    width: fit-content;
    height: fit-content;
    margin-bottom: 2rem;
}
.text h1 {
    font-family: "oswald-stencil";
    color: #8d90a2;
    font-size: 4em;
    letter-spacing: 2px;
    margin: 1.5rem;
    width: fit-content;
    
}
.text h3 {
    font-family: "oswald-regitalic";
    color: #787b8b;
    font-size: 2em;
    letter-spacing: 2px;
    margin: 1.5rem;
    margin-top: 3rem;
    width: fit-content;
    
}

.content {
    
    background-color: #27282e;
    width: 100%;
    height: 100vh;
}
@media (max-width: 940px) {
     .banner {
        flex-wrap: wrap;
        flex-direction: row;
     }
  }
  @media (max-width: 700px) {
    .container {
        width: fit-content;
        
    }
    .banner {
       flex-wrap: wrap;
       flex-direction: row;
        padding: 0;
       width: 100%;
       height: fit-content;
       
    }
    .logo {
        justify-self: center;
        margin-top: 1rem;
        margin-left: 8rem;
    }
    .logo img {
        width: 70%;
    }
    .text h1 {
        font-size: 3rem;
    }
    .text h3 {
        font-size: min(1.5rem);

    
    }
    
 }